@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

//  fonts
$logo: 'Architects Daughter', cursive;
$poppins: 'Poppins', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$lato: 'Lato', sans-serif;

// color variables
$primary: #4c2ba4;
$black: #191919;